    <footer class="site-footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Tags</h3>
                    {{#get "tags" limit="all"}}
                        <ul>
                            {{#foreach tags}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/foreach}}
                        </ul>
                    {{/get}}
                </div>
                <div class="col-md-4">
                    <h3>Newsletter</h3>
                    {{#if @labs.subscribers}}
                        {{subscribe_form
                            form_class="gh-signin"
                            input_class="gh-input"
                            button_class="btn"
                            placeholder="Your email address"
                        }}
                    {{/if}}
                </div>
                <div class="col-md-4">
                    <a class="twitter-timeline" data-width="300" data-height="500" data-theme="light" href="https://twitter.com/HauntedThemes?ref_src=twsrc%5Etfw">Tweets by HauntedThemes</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </footer>