@-webkit-keyframes "go" {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@-moz-keyframes "go" {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@-o-keyframes "go" {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes "go" {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes "next" {
    0% {
        transform: translate3d(0,100%,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}
@keyframes "slideTop" {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::selection {
    background: rgba($black, 0.2);
}
::-moz-selection {
    background: rgba($black, 0.2);
}
::-webkit-input-placeholder {
    color: rgba($white, 0.5);
}
::-moz-placeholder {
    color: rgba($white, 0.5);
}
:-ms-input-placeholder {
    color: rgba($white, 0.5);
}
:-moz-placeholder {
    color: rgba($white, 0.5);
}
body {
    font-family: $main_font;
    font-weight: 300;
    color: $black;
    background: $white;
    font-size: 1rem;
}
h1 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 50px;
}
h2 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 50px;
}
h3 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 50px;
}
h4 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 50px;
}
h5 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 50px;
}
h6 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 50px;
}
b {
    font-weight: bold;
}
strong {
    font-weight: bold;
}
a {
    color: $black;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    &:hover {
        text-decoration: none;
        color: $purple;
    }
}
p {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 30px;
}
code {
    font-family: monospace, monospace;
    font-size: 1em;
    color: $grey-1;
}
kbd {
    font-family: monospace, monospace;
    font-size: 1em;
    color: $grey-1;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
    color: $grey-1;
    code {
        padding: 20px;
    }
}
samp {
    font-family: monospace, monospace;
    font-size: 1em;
    color: $grey-1;
}
mark {
    background: rgba($grey-1, 0.2);
}
figure {
    margin: 30px 0;
}
.hljs {
    padding: 20px;
}
.hidden {
    display: none !important;
}
label.error {
    font-size: 0.75rem;
    margin-top: 5px;
    color: $red;
}
input {
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.42857143;
    color: $white;
    background-color: $black;
    background-image: none;
    background: $grey-3;
    border: 1px solid $grey-1;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    display: block;
}
textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.42857143;
    color: $white;
    background-color: $black;
    background-image: none;
    background: $grey-3;
    border: 1px solid $grey-1;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    display: block;
}
.btn {
    padding: 9px 19px;
    border-radius: 30px;
    box-shadow: none;
    outline: 0;
    line-height: normal;
    font-size: 0.875rem;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    background: transparent;
    border: 1px solid $grey-1;
    color: $grey-1;
    outline: 0;
    &:focus {
        box-shadow: none;
    }
}
.btn.focus {
    box-shadow: none;
}

.main-container {
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: $white;
}

.tooltip.show {
    opacity: 1;
}

@media (max-width: $small) {
    .tooltip {
        display: none;
    }
}

.fade {
    -webkit-transition: opacity .3s cubic-bezier(0.2,1,0.3,1);
    -moz-transition: opacity .3s cubic-bezier(0.2,1,0.3,1);
    -o-transition: opacity .3s cubic-bezier(0.2,1,0.3,1);
    transition: opacity .3s cubic-bezier(0.2,1,0.3,1);
}
.tooltip {
    font-weight: 300;
    font-family: $main_font;
    margin-left: 5px;
    border-radius: 3px;
    .tooltip-inner {
        box-shadow: 0px 10px 40px rgba($black, 0.1);
        background-color: #2b2b2b;
    }
}
.bs-tooltip-auto[x-placement^=right] {
    .arrow {
        &::before {
            border-right-color: #2b2b2b;
        }
    }
}
.bs-tooltip-right {
    .arrow {
        &::before {
            border-right-color: #2b2b2b;
        }
    }
}
.bs-tooltip-auto[x-placement^=left] {
    .arrow {
        &::before {
            border-left-color: #2b2b2b;
        }
    }
}
.bs-tooltip-left {
    .arrow {
        &::before {
            border-left-color: #2b2b2b;
        }
    }
}
.bs-tooltip-auto[x-placement^=bottom] {
    .arrow {
        &::before {
            border-bottom-color: #2b2b2b;
        }
    }
}
.bs-tooltip-bottom {
    .arrow {
        &::before {
            border-bottom-color: #2b2b2b;
        }
    }
}