#load-posts {
    margin: 50px 0 100px 0;
    display: inline-block;
    padding: 9px 19px;
    border: none;
    background: transparent;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
}
#load-posts.visible {
    + {
        .pagination {
            display: none;
        }
    }
}
.pagination {
    margin: 50px 0 100px 0;
    position: relative;
    font-size: 0.875rem;
    font-weight: bold;
    a {
        text-transform: uppercase;
    }
    .older-posts {
        position: absolute;
        right: 0;
        top: 0;
    }
    .newer-posts {
        position: absolute;
        left: 0;
        top: 0;
    }
}