/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Normalize
    1.  General
    2.  Header
    3.  Inner Content
    4.  Pagination
    5.  Author
    6.  Tags
    7.  Share Selected Text
    8.  Subscribe
    9.  Footer
    10. Responsive

*/

/* ==========================================================================
   0. Normalize
   ========================================================================== */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body { margin: 0; }
article, aside, details,
figcaption, figure,
footer, header,
main, menu, nav,
section, summary { display:block; }
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent;}
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table{ border-collapse: collapse; border-spacing: 0; }
td, th{ padding: 0; }

/* ==========================================================================
   1. General
   ========================================================================== */

body{
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    color: #000000;
    background: #fff;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 50px;
}

b, strong{
    font-weight: bold;
}

a{
    color: #000000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover{
    text-decoration: none;
    color: #667EEA;
}

p{
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 30px;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
    color: #A0A8BD;
}

mark{
    background: rgba(160, 168, 189, 0.2);
}

pre code,
.hljs{
    padding: 20px;
}

.hidden{
    display: none !important;
}

.btn{
    padding: 9px 19px;
    border-radius: 30px;
    box-shadow: none;
    outline: 0;
    line-height: normal;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    background: transparent;
    border: 1px solid #a0a8be;
    color: #a0a8bd;
    outline: 0;
}

.btn.focus, .btn:focus{
    box-shadow: none;
}

.intro{
    position: relative;
    z-index: 110;
}

.intro .swiper-slide{
    height: 100vh;
    background: grey;
    display: flex;
    position: relative;
}

.intro .swiper-slide .post{
    width: 100%;
}

.intro .swiper-slide .bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.intro .swiper-slide .bg:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #000000 0%, rgba(51, 51, 51, 0.5) 100%);
}

.intro .swiper-slide .inner{
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.intro .swiper-slide .inner .post-title{
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 10px;
}

.intro .swiper-slide .inner .post-title a{
    color: #fff;
}

.intro .swiper-slide .inner .post-title a:hover{
    color: #667EEA;
}

.intro .swiper-pagination{
    bottom: auto;
    left: auto;
    right: calc((100% - 1140px)/2 + 15px);
    top: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}

.intro .swiper-pagination .swiper-pagination-bullet{
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    opacity: .5;
    background: none;
    margin: 10px 0;
    display: block;
    width: auto;
    height: auto;
    font-weight: bold;
    padding: 5px;
}

.intro .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    opacity: 1;
    font-size: 14px;
    position: relative;
}

.intro .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before{
    content: '';
    position: absolute;
    bottom: 6px;
    height: 6px;
    width: calc(100% - 6px);
    left: 3px;
    background: #667EEA;
    z-index: -1;
}

.intro .excerpt{
    margin-bottom: 50px;
}

.excerpt{
    max-width: 66.66%;
}

.read-more{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.intro .read-more{
    color: #fff;
}

.intro .tags{
    margin: 0;
}

.tags{
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.tags li a{
    margin-right: 10px;
    line-height: 20px;
    font-size: 12px;
    color: #A0A8BD;
    border: 1px solid transparent;
    background: rgba(160, 168, 189, 0.2);
    border-radius: 15px;
    padding: 3px 15px;
    font-weight: normal;
}

.tags li a:hover{
    background: transparent;
    border: 1px solid rgba(160, 168, 189, 0.5);
}

header{
    position: absolute;
    z-index: 9900;
    width: 100%;
    top: 0;
    left: 0;
    padding: 50px 0;
}

header .blog-logo img{
    max-width: 150px;
    height: auto;
}

header a{
    color: #fff;
}

header nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0 30px 0 auto;
    display: flex;
}

header nav ul li a{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 40px;
}

header .search{
    display: inline-block;
}

header .search .search-popover{
    position: absolute;
    display: none;
}

header .inner{
    display: flex;
    justify-content: flex-end;
}

header .search .popover{
    background: #2b2b2b;
    box-shadow: 0px 40px 90px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    margin-top: 15px;
    width: 300px;
    border: none;
    max-height: calc(100vh - 200px);
    margin-left: -230px;
}

header .search .popover .popover-body{
    padding: 0;
}

header .search form{
    width: 100%;
}

header .search input{
    background: #1b1b1b;
    border: none;
    outline: 0;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

header .search h5{
    padding: 10px 15px;
    line-height: 20px;
    font-size: 12px;
    color: #A0A8BD;
    background: rgba(160, 168, 189, 0.2);
    margin: 0;
    font-weight: bold;
}

header .search #results{
    padding-top: 38px;
}

header .search #results ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .search #results ul li{
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header .search #results ul li:last-child{
    border-bottom: none;
}

header .search #results a{
    display: block;
    font-weight: bold;
}

header .search #results time{
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

.main-container{
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #fff;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after{
    border-bottom-color: #2b2b2b;
}

.intro .post-meta{
    color: #FFFFFF;
}

.post-meta{
    line-height: 32px;
    font-size: 16px;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 30px 0 0 0;
    font-weight: 500;
}

.post-meta li{
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-meta li i{
    margin-right: 10px;
}

.post-meta li.share{
    margin-left: auto;
    margin-right: 0;
}

.share{
    margin-top: -10px;
    position: relative;
    perspective: 250px;
    padding: 10px 10px 0 10px;
}

.share a{
    cursor: default;
}

.share a:hover{
    color: #000000;
}

.share:hover ul{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
}

.share ul{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(20px) scale(0.9);
    transform: translateY(20px) scale(0.9);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 40px;
    background: #2b2b2b;
    box-shadow: 0px 40px 90px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    list-style-type: none;
}

.share ul li{
    margin: 0;
    border-bottom: 1px solid rgba(229, 229, 229, 0.1);
}

.share ul li:last-child{
    border: none;
}

.share ul li a{
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 3px 10px;
    cursor: pointer;
    display: block;
}

.share ul li a:hover{
    color: #fff;
    background: rgba(160, 168, 189, 0.2);
}

.share ul li a i{
    margin: 0;
}

.share i{
    margin-right: 0;
}

.intro .post-meta a{
    color: #FFFFFF;
    font-size: 16px;
}

.post-meta a{
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
}

.loop .post{
    margin: 50px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.loop .post .img-holder{
    overflow: hidden;
    display: block;
    width: calc(100% + 140px);
    margin-left: -70px;
    margin-bottom: 50px;
}

.loop .post .img-holder:hover img{
    filter: brightness(1.1);
    transform: scale(1.1, 1.1);
}

.loop .post .img-holder img{
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.loop h2{
    max-width: 80%;
    margin-bottom: 10px;
}

.loop .post-meta{
    font-size: 14px;
}

#load-posts{
    margin: 50px 0 100px 0;
    display: inline-block;
    padding: 9px 19px;
    border: none;
    background: transparent;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
}

#load-posts.visible + .pagination{
    display: none;
}

.pagination{
    margin: 50px 0 100px 0;
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

.pagination a{
    text-transform: uppercase;
}

.pagination .older-posts{
    position: absolute;
    right: 0;
    top: 0;
}

.pagination .newer-posts{
    position: absolute;
    left: 0;
    top: 0;
}

.content-inner{
    padding: 100px 15px;
}

.content-inner p{
    line-height: 28px;
    font-size: 18px;
}

.content-inner ul,
.content-inner ol{
    line-height: 28px;
    font-size: 18px;
    padding-left: 16px;
}

.content-inner ul li{
    margin-bottom: 10px;
}

.content-inner h1:first-child,
.content-inner h2:first-child,
.content-inner h3:first-child,
.content-inner h4:first-child,
.content-inner h5:first-child,
.content-inner h6:first-child{
    margin-top: 0;
}

.content-inner h1,
.content-inner h2,
.content-inner h3,
.content-inner h4,
.content-inner h5,
.content-inner h6{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    padding-top: 20px;
}

.content-inner h1:hover .chain,
.content-inner h2:hover .chain,
.content-inner h3:hover .chain,
.content-inner h4:hover .chain,
.content-inner h5:hover .chain,
.content-inner h6:hover .chain{
    visibility: visible;
    opacity: 1;
}

.content-inner .chain{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -40px;
    font-size: 16px;
    bottom: calc(50% - 25px);
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.content-inner h1{
    font-size: 72px;
}

.content-inner h2{
    font-size: 48px;
}

.content-inner h3{
    font-size: 32px;
}

.content-inner h4{
    font-size: 22px;
}

.content-inner h5{
    font-size: 14px;
}

.content-inner h6{
    font-size: 12px;
}

.content-inner iframe{
    margin: 0 auto;
    display: block;
    height: calc(750px / 1.77777778) !important;
    width: 100% !important;
    margin-bottom: 30px;
}

.content-inner img{
    max-width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 0;
}

.content-inner .share{
    position: absolute;
    top: 0;
    margin-left: -140px;
    margin-top: 0;
    display: block;
    position: absolute;
    padding-bottom: 30px;
}

.content-inner .share ul{
    bottom: auto;
    top: 40px;
    margin: 0;
    padding: 0;
    left: 0;
}

/*.content-inner .share ul{
    position: relative;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    bottom: auto;
    top: 0;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
}*/

.content-inner .share ul li{
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.content-inner .share ul li a{
    padding: 8px 10px;
    width: 43px;
    height: 43px;
}

.tooltip.show {
    opacity: 1;
}

.fade{
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.tooltip{
    font-weight: 300;
    font-family: "sofia-pro", sans-serif;
    margin-left: 5px;
    border-radius: 3px;
}

.tooltip .tooltip-inner{
    box-shadow: 0px 40px 90px rgba(0, 0, 0, 0.7);
    background-color: #2b2b2b;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before{
    border-right-color: #2b2b2b;
}

.related-posts{
    margin: 0;
}

.related-posts .loop{
    left: calc((100% - 750px)/2 - 15px);
}

.related-posts .swiper-container-horizontal .loop{
    left: 0;
}

.related-posts .loop .post{
    border: none;
    margin: 0 0 100px;
}

.related-posts .loop .swiper-slide{
    width: calc(33.33% - 20px);
    width: 750px;
    margin: 0 15px;
    opacity: .25;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.related-posts .loop .swiper-slide.swiper-slide-active,
.related-posts .loop .swiper-slide.swiper-slide-duplicate-active{
    opacity: 1;
}

.related-posts .loop .post .img-holder{
    width: 100%;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.related-posts .loop .post .img-holder img{
    object-fit: cover;
}

.related-posts .swiper-button-next,
.related-posts .swiper-button-prev{
    height: 100%;
    top: 0;
    right: 0;
    left: auto;
    width: calc((100% - 750px)/2 - 30px);
    background: transparent;
}

.related-posts .swiper-button-next:hover ~ .loop .swiper-slide-next,
.related-posts .swiper-button-prev:hover ~ .loop .swiper-slide-prev{
    opacity: .35;
}

.related-posts .swiper-button-prev{
    right: auto;
    left: 0;
}

.fixed-post-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3px;
    z-index: 90;
}

.fixed-post-nav .prev{
    position: absolute;
    left: 15px;
}

.fixed-post-nav .next{
    position: absolute;
    right: 15px;
}

footer{
    background: #2c2c2c;
}